### 1. 데이터 베이스 연결

In [1]:
db = MySQLdb.connect(
    "15.164.102.13", # address
    "root", # user
    "wps", # pw
    "world", # database(생략가능)
    charset="utf8",
)

db

### 2. 쿼리 작성

In [2]:
QUERY = """
    SHOW DATABASES;
"""

### 3. 쿼리 실행

In [3]:
curs = db.cursor()
curs.execute(QUERY)

7

### 4. 쿼리 실행 데이터 확인

In [4]:
rows = curs.fetchall()
rows

(('information_schema',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',))

### 5. 데이터 베이스 만들기

In [5]:
QUERY = """
    CREATE DATABASE python;
"""

In [6]:
curs = db.cursor()
curs.execute(QUERY)

1

In [7]:
QUERY = """
    SHOW DATABASES;
"""

curs = db.cursor()
curs.execute(QUERY)

rows = curs.fetchall()
rows

(('information_schema',),
 ('employees',),
 ('mysql',),
 ('performance_schema',),
 ('python',),
 ('sakila',),
 ('sys',),
 ('world',))

### 6. 데이터 베이스 연결 끊기

In [8]:
db.close()

### 7.함수로 만들기

In [9]:
def execute(QUERY, db=db):
    curs = db.cursor()
    count = curs.execute(QUERY)
    db.commit()
    return count

In [10]:
def disp(QUERY, db=db):
    curs = db.cursor()
    curs.execute(QUERY)
    return curs.fetchall()

#### 데이터 베이스 연결

In [18]:
db = MySQLdb.connect(
    "15.164.102.13", # address
    "root", # user
    "wps", # pw
    "python", # database(생략가능)
    charset="utf8",
)

db

#### 테이블 생성

In [19]:
QUERY = """
    CREATE TABLE popular (
        rank int(4),
        city_name char(20),
        count int(10)
    );
"""

In [20]:
execute(QUERY, db)

0

#### 데이터 입력

In [21]:
QUERY = """
    INSERT INTO popular(rank, city_name, count)
    VALUES
        (1, "seoul", 9900000),
        (2, "pusan", 3400000),
        (3, "daegu", 2400000);
"""

In [22]:
execute(QUERY, db)

3

#### 데이터 읽기

In [23]:
QUERY = """
    SELECT *
    FROM popular
"""

In [24]:
disp(QUERY, db=db)

((1, 'seoul', 9900000), (2, 'pusan', 3400000), (3, 'daegu', 2400000))