### 1. 데이터 베이스 연결

In [3]:
engine = create_engine("mysql://root:wps@15.164.102.13/python?charset=utf8")
engine

Engine(mysql://root:***@15.164.102.13/python?charset=utf8)

### 2. 모델 만들기

In [4]:
# __tablename__ : 데이터 베이스 테이블 이름
Base = declarative_base()


class User(Base):
    __tablename__ = 'user'
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)

    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate

    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

### 3. engine에 연결된 데이터 베이스 테이블 생성 및 연결

In [5]:
Base.metadata.create_all(engine)

### 4. 세션 만들기

In [6]:
Session = sessionmaker(bind=engine)
session = Session()

### 5. 데이터 입력

In [7]:
# insert
user = User("jin", "jin@gmail.com", "27", "2016-03-21")
session.add(user)

In [8]:
# add multy objects
users = [
    User("alice", "jin@gmail.com", "25", "2018-02-21"),
    User("andy", "andy@daum.net", "33", "2015-01-19"),
]
session.add_all(users)

In [9]:
# run transaction
session.commit()

In [10]:
# rollback (session data clear)
session.rollback()

### 6. 데이터 선택

In [11]:
# all
results = session.query(User).all()
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [12]:
# filter
# ==, !=, >, <, >=, <=, like, in_, ~
results = session.query(User).filter(User.name == "jin")
list(results)

In [13]:
# filter - where
results = session.query(User).filter(User.name != "jin")
list(results)

[<User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [14]:
# filter - where
results = session.query(User).filter(User.age > 26)
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [15]:
# filter - like
results = session.query(User).filter(User.email.like("%gmail%"))
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>]

In [16]:
# filter - in
results = session.query(User).filter(User.name.in_(["alice", "andy"]))
list(results)

[<User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [17]:
# filter - not(~)
results = session.query(User).filter(~User.email.like("%gmail%"))
list(results)

In [18]:
# filter - or_
results = session.query(User).filter(or_(User.name == "jin", User.age == 33))
list(results)

[<User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [19]:
# filter - and_
results = session.query(User).filter(
    and_(User.age < 27, User.email.like("%gmail%")))
list(results)

In [20]:
# order_by - ascending
results = session.query(User).order_by(User.age.asc())
list(results)

[<User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [21]:
# order_by - ascending (오름차순은 함수의 생략이 가능)
results = session.query(User).order_by(User.age)
list(results)

[<User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@daum.net, 33, 2015-01-19 00:00:00>]

In [22]:
# order_by - descending
results = session.query(User).order_by(User.age.desc())
list(results)

[<User andy, andy@daum.net, 33, 2015-01-19 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, jin@gmail.com, 25, 2018-02-21 00:00:00>]

In [23]:
# count
session.query(User).count()

3

### 7. 데이터 수정

In [24]:
# row 객체 가져오기
jin = session.query(User).filter(User.name == "jin").one()
jin

In [25]:
jin.age = 30

In [26]:
session.add(jin)

In [27]:
session.commit()

In [28]:
# 변경 확인
results = session.query(User).filter(User.name == "jin")
list(results)

### 8. 데이터 삭제

In [29]:
# delete row
session.query(User).filter(User.name == "jin").delete()

1

In [30]:
session.commit()

In [31]:
# delete table
User.__table__.drop(engine)

### 9. 세션 닫기

In [32]:
session.close()